.profileDesign {
    /* acuerdate de quitar height cuando traeré info del BBDD de user */
    /* height: 82vh; */
    width: auto;
    background-color: rgb(247, 243, 231);
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* align-items: center; */
    text-align: left;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.firstPartUser, .secondPartUser {
margin-top: 2em;
}

.firstPartUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userIconImg {
    height: 6em;
    width: 6em;
}

.userIconA {
    height: 8em;
    width: 18em;
    border-radius: 1em;
}

/* .profileCard {
    width: 25em;
    display: flex;
} */

.modInfo {
    height: 3em;
    width: 10em;
    background-color: rgba(102, 186, 228, 0.76);
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.modInfo:hover {
    transition: 0.4s;
    color: white;
    background-color: rgba(60, 101, 122, 0.76);
}

@media only screen and (max-width: 480px) {
    .profileDesign {
      font-size: large;
      flex-direction: column;
      justify-content: center;
    }
  
    .firstPartUser {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .userIconImg {
      height: 4em;
      width: 4em;
    }
  
    .userIconA {
      height: 6em;
      width: 14em;
      margin-left: 3em;
    }
  
    .rigthUserBtn {
      margin-bottom: 1em;
      margin-top: 1em;
    }
  
    .modInfo {
      width: 8em;
      font-size: medium;
      margin-top: 0.5em;
      justify-content: center;
    }
  }