/* General view design */
.mainLogInDesign {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow:.0rem .0rem .3rem rgb(102, 188, 234);
  border-radius: 1em;
}

/* Design of login card */
.loginDesign {
  height: 75.5vh;
  width: 100vw;
  background-color: rgb(247, 243, 231);
  display: flex;
  padding-top: 2em;
  flex-direction: column;
  align-items: center;
  color: rgb(66, 103, 123);
  font-weight: bolder;
  font-size: x-large;
}

.normalInput {
  width: 15em;
  margin: 1em;
  border-radius: 1em;
  color: rgb(66, 103, 123);
  box-shadow: 0rem 0.5rem 0.1rem rgb(81, 149, 186);
  background-color: rgb(227, 234, 236);
}

/* Error input design */
.errorInput {
  border: solid red;
}

.errorText {
  color: red;
  font-size: large;
}

/* Login button */
.logButton {
  height: 3em;
  width: 10em;
  background-color: rgba(102, 186, 228, 0.76);
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInButton:hover {
  transition: 0.4s;
  background-color: rgba(60, 101, 122, 0.76);
}

/* Links design */
.registerLink,
.registerLinkText {
  margin: 1em;
  color: rgba(60, 101, 122, 0.76);
  font-size: medium;
  text-decoration: none;
}

.registerLink:hover {
  color: rgba(89, 150, 181, 0.76);
}

/* Mobile view */
@media (max-width: 768px) {
  .mainLogInDesign {
    padding-top: 2em;
    margin-top: 1em;
  }

  .loginDesign {
    height: 75vh;
    padding: 1em;
    font-size: medium;
  }

  .normalInput {
    width: 80%;
  }

  .logButton {
    width: 8em;
    height: 2.5em;
    font-size: medium;
    margin-top: 0.5em;
  }

  .registerLink,
  .registerLinkText {
    font-size: small;
  }
}
