.mainLogInDesign {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: .0rem .0.5rem .1rem  rgb(102, 188, 234);
    border-radius: 1em;
}

.loginDesign {
    height: 75.5vh;
    width: 100vw;
    background-color: rgb(238, 233, 218);
    display: flex;
    padding-top: 2em;
    flex-direction: column;
    align-items: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.normalInput {
    width: 15em;
    margin: 1em;
    border-radius: 1em;
    color: rgb(66, 103, 123);
    box-shadow: .0rem .0.5rem .1rem  rgb(81, 149, 186);
    background-color: rgb(227, 234, 236);
}

.errorInput{
border: solid red;
}

.errorText {
    color: red;
    font-size:large;
}

.logButton {
    height: 3em;
    width: 10em;
    background-color: rgba(102, 186, 228, 0.76);
    color: white;
    font-size: large;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInButton:hover {
    transition: 0.4s;
    background-color: rgba(60, 101, 122, 0.76);
}

.registerLink, .registerLinkText {
  margin: 1em;
  color: rgba(60, 101, 122, 0.76);
  font-size: medium;
  text-decoration: none;
}

.registerLink:hover {
  color: rgba(89, 150, 181, 0.76);
}
/* media-query for mobile version */

/* @media (max-width: 600px) {
    .mainLogInDesign {
      padding-top: 1em;
    }
  
    .loginDesign {
      height: 82vh;
      font-size: large;
    }
  
    .normalInput {
      width: 80%;
    }
  
    .logInButton {
      width: 80%;
    }
  }
   */
/* media query for tablets version */

/* @media (min-width: 768px) and (max-width: 1023px) {
    .mainLogInDesign {
      padding-top: 1em;
    }
  
    .loginDesign {
      height: auto;
      font-size: large;
    }
  
    .normalInput {
      width: 100%;
    }
  
    .logInButton {
      width: 80%;
    }
  }
   */