.mainRegister {
    /* height: 75.5vh; */
    width: 100vw;
    padding-top: 2em;
    background-color: rgb(247, 243, 231);
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family:'Courier New', Courier, monospace; 
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large; 
}

.mainLogDesign {
    /* padding-top: 2em; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: .0rem .0.5rem .1rem  rgb(102, 188, 234);
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.containerRegister {
    display: flex;
}

.normalInput {
    height: 1.3em;
    width: 15em;
    margin: 1em;
    border-radius: 1em;
    color: rgb(66, 103, 123);
    font-size: large;
    box-shadow: .0rem .0.5rem .1rem  rgb(81, 149, 186);
    background-color: rgb(227, 234, 236);
}

.errorInput{
border: solid red;
}

.errorText {
    color: red;
    font-size:large;
}

.logInButton {
    height: 3em;
    width: 10em;
    background-color: rgba(102, 186, 228, 0.76);
    color: white;
    font-size: large;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center
}

.registerLink, .registerLinkText {
    color: rgba(60, 101, 122, 0.76);
    font-size: medium;
    text-decoration: none;
  }
  
  .registerLink {
    color: rgb(120, 196, 234);
  }

@media (max-width: 768px) {
    .mainRegister {
      padding-top: 1em;
      font-size: medium;
    }
  
    .mainLogDesign {
      width: 90%;
      margin-left: 1em;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  
    .normalInput {
      width: 80%;
      font-size: medium;
    }
  
    .logInButton {
      width: 8em;
      height: 2.5em;
      font-size: medium;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }
  


