.treatmentDesign {
    /* height: 82vh; */
    width: 100vw;
    background-color: rgb(238, 233, 218);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* font-family:'Courier New', Courier, monospace; */
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.thisCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* .mainCardBlock {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1em;
} */