/* General style of Treatment view */
.treatmentDesign {
  background-color: rgb(247, 243, 231);
}

.containerTr {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* font style */
.treatmentStyleName {
  font-weight: bolder;
  font-size: larger;
}

.treatmentStyleText {
  font-size: medium;
}

/* Card margins */
.cardTrtmDesign {
  margin-top: 3em;
  margin-bottom: 3em;
}

.firstRow {
  margin: 0;
  display: flex;
}

/* Mobile view */
@media (max-width: 767px) {
  .treatmentDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .treatmCard {
    width: 80%;
    margin-bottom: 2em;
  }
}
