.homeDesign {
    height: 82vh;
    width: 100vw;
    background-color: rgb(238, 233, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.carouselImg {
    height: 22em;
    width: 35em;
    margin: 0;
    padding: 0;
}

.mainCarousel{
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    /* Estilos para dispositivos m칩viles con un ancho m치ximo de 600px */
    .homeDesign {
      /* Modifica los estilos para adaptarlos a dispositivos m칩viles */
      flex-direction: column;
      font-size: large;
    }
  
    .carouselImg {
      /* Modifica los estilos para adaptarlos a dispositivos m칩viles */
      height: 10em;
      width: 18em;
    }
  }