.homeDesign {
    height: 82vh;
    width: 100vw;
    background-color: rgb(238, 233, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.carouselImg {
    height: 22em;
    width: 35em;
}

@media (max-width: 600px) {
    /* Estilos para dispositivos móviles con un ancho máximo de 600px */
    .homeDesign {
      /* Modifica los estilos para adaptarlos a dispositivos móviles */
      flex-direction: column;
      font-size: large;
    }
  
    .carouselImg {
      /* Modifica los estilos para adaptarlos a dispositivos móviles */
      height: 10em;
      width: 20em;
    }
  }