.homeDesign {
    height:75.5vh;
    /* width: 100vw; */
    background-color: rgb(247, 243, 231);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

.carouselImg {
    height: 22em;
    width: 35em;
    margin: 0;
    padding: 0;
}

.mainCarousel{
    margin: 0;
    padding: 0;
}

.carouselText{
    color: rgb(250, 250, 250);
    background-color: rgba(91, 127, 188, 0.567);
    border-radius: 1em;
}

@media (max-width: 500px) {
    /* Estilos para dispositivos móviles con un ancho máximo de 600px */
    .homeDesign {
      /* Modifica los estilos para adaptarlos a dispositivos móviles */
      flex-direction: column;
      font-size: large;
    }
  
    .carouselImg {
      /* Modifica los estilos para adaptarlos a dispositivos móviles */
      height: 10em;
      width: 18em;
    }

    .carouselText {
        font-size: x-small;
        /* background-color: rgba(128, 128, 128, 0.604); */
    }
  }