.headerDesign {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: rgba(133, 220, 249, 0.653);
}

.mainPart{
    display: flex;
}

.navBarStyle {
    display: flex;
    font-size: large;
    transition: 0.6s;
}

.headerText:hover {
    color: rgb(128, 162, 248);
    text-decoration: underline;
    transition: 0.4s;
}
