.headerDesign {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(133, 220, 249, 0.653);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.mainPart{
    display: flex;

}
.navBarStyle {
    height: 4em;
    display: flex;
    /* justify-content: space-evenly; */
    font-size: large;
    /* text-decoration: none; */
    transition: 0.6s;
}

.headerText:hover {
    color: rgb(128, 162, 248);
    text-decoration: underline;
    transition: 0.4s;
}
