.productCardDesign {
    background-color: rgba(169, 220, 240, 0.447);
    box-shadow: .0rem .0.5rem .1rem  rgb(46, 87, 109);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    /* align-items: center; */
}

.productCardDesign:hover {
    background-color: #f0f7f5;
    transition: 0.3s;
}

.pictureDesign {
    margin-top: 1em;
}

/* @media (max-width: 768px) {
    .productCardDesign {
      flex-direction: column;
      align-items: center;
      margin: 0.5em;
    }
  
    .pictureDesign {
      margin-top: 0.5em;
    }
  } */
  