.productCardDesign {
    height: 12em;
    width: 15em;
    background-color: rgba(169, 220, 240, 0.447);
    box-shadow: .0rem .0.5rem .1rem  rgb(46, 87, 109);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCardDesign:hover {
    background-color: #f0f7f5;
    transition: 0.3s;
}

.pictureDesign {
    height: 6em;
    width: 5em;
}