.productCardDesign {
    /* height: 14em;
    width: 14em; */
    background-color: rgba(169, 220, 240, 0.447);
    box-shadow: .0rem .0.5rem .1rem  rgb(46, 87, 109);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.productCardDesign:hover {
    background-color: #f0f7f5;
    transition: 0.3s;
}

.pictureDesign {
    margin-top: 1em;
}