.mainBookApp{
    height: 82vh;
    width: auto;
    background-color: rgb(247, 243, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

/* .my-datetime-picker {
    background-color: blue;
  } */

  .my-calendar {
    background-color: rgb(251, 229, 229);
  }
  .my-calendar .react-calendar__month-view__days__day {
    background-color: rgba(191, 234, 247, 0.607);
    color: black;
    border: 0;
    font-weight: bold;
  }

  .my-calendar .react-calendar__navigation__label {
    background-color: transparent;
    color: black;
    
    font-weight: bold; /* Cambia el color del texto del mes y el año según tus preferencias */
  }
 
  .my-calendar .react-calendar__navigation button {
    background-color: transparent;
    border: 0;
    color: blue; /* Cambia el color de los botones de navegación según tus preferencias */
  }







/* .my-datetime-picker{
    background-color: rgb(241, 223, 223);
}

.custom-datetime-picker .react-calendar {
    background-color: rgb(180, 227, 252);
  }

  .custom-datetime-picker .react-calendar__navigation {
    background-color: rgba(17, 18, 18, 0.67);
    height: 3em;
    font-size: medium;
  }

  .custom-datetime-picker .react-calendar__month-view__weekdays {
    color: rgba(17, 18, 18, 0.67); */
  /* } */

  


@media only screen and (max-width: 768px) {
    .dateDesign {
        width: 11.5em;
    }
  }