.footerDesign {
    /* height: 9vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(133, 220, 249, 0.653);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* .socialMedia, .contacts {
    display: flex;
    font-weight: bolder ;
} */