.updateDesign{
    width: auto;
    background-color: rgb(247, 243, 231);
    display: flex;
    flex-direction: column;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}