.aboutDesign {
    height: 82vh;
    width: 100vw;
    background-color: rgb(238, 233, 218);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    color: rgb(66, 103, 123);
    font-weight: bolder;
    font-size: x-large;
}

@media (max-width: 600px) {
    .aboutDesign {
      height: auto;
      flex-direction: column;
      justify-content: center;
      font-size: large;
    }
  }